{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/authenticate.css' %}" />

</head>
<div class="container">

<h1>Login</h1>

    <form action="" method="POST">
        {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            

        <input type="submit" value="Submit" class="btn btn-secccondary">

    
    </form>

</div>
{% endblock content %}