{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/authenticate.css' %}" />
    <link href="http://fonts.cdnfonts.com/css/itc-cheltenham-std" rel="stylesheet">
</head>
<body>
<div class="login-page-body">

<h1 id="login-page-title">Customer Login</h1>

    <div id="login-MainContent" class="login-form-body">
    <form action="" method="POST">
        {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            
        <input type="submit" value="Submit" class="btn btn-dark btn-block w-100">

    </form>
    <div class="secondary-wrap">
    <p>New customer?
    <a href="{% url 'register_user' %}">Sign up for an account.</a>
    </p>
    </div>
    </div>

</div>
</body>
{% endblock content %}