{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/authenticate.css' %}" />
    <link href="http://fonts.cdnfonts.com/css/itc-cheltenham-std" rel="stylesheet">
</head>
{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There was an error with your form ...
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endif %}

<div class="register-form-body">

    <h1 id="register-page-title">Register</h1>

    <form class ="form-body" action="{% url 'register_user' %}" method="POST">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="{{field.name}}">
            {{field.label}} {{field}} {{field.help_text}}
        </div>
        {% endfor %}

        <input id="btn" type="submit" value="Submit" class="btn btn-dark btn-block w-100">

        <div class="secondary-wrap">
            <p>Already registered?
            <a href="{% url 'login' %}">Log in here</a>
            </p>
        </div>

    </form>

</div>
{% endblock content %}