{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/authenticate.css' %}" />
    <link href="http://fonts.cdnfonts.com/css/itc-cheltenham-std" rel="stylesheet">
</head>
{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There was an error with your form ...
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endif %}

<div class="register-form-body">

    <h1 id="register-page-title">Register</h1>

    <form action="{% url 'register_user' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submit" class="btn btn-dark btn-block w-100">


    </form>

</div>
{% endblock content %}