{% extends "base.html" %}

{% load static %}
{% block content %}


<div class="index-page">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center ">
            <div class="col-4 p-2 bd-highlight col-example">
                <img src="{% static 'assets/HeadLogo.png' %}" alt="">
            </div>
            <div class="col-6 p-2 bd-highlight col-example">
                <h1>
                    Welcome to Petite Club!
                </h1>
                <p></p>
            </div>
        </div>
    </div>
    <!-- container -->
</div>
<!-- index-page -->
{% endblock content %}