{% extends "base.html" %}

{% block content %}

    <h1>My Favorite List</h1>

    {% for product in products %}
    
        <ul>
            <li>Product Name: {{ product.product_name }}</li>
            <li>Product Price: {{ product.product_price }}</li>
            <li>Product Url: {{ product.product_url }}</li>
            <li>Product Imgage: {{ product.product_img }}</li>
            <li>Saved by: {{ product.saved_by }}</li>

        </ul>
        <br>

    {% endfor %}

{% endblock content %}