{% extends "base.html" %}




{% block content %}

<form action="" method="post">{% csrf_token %}
    <section class="intro">
        <div class="bg-image h-100" style="
            background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img5.jpg);
            ">
            <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0, 0.5);">
                <div class="container">
                    <p class="h2 mb-4 text-white"> Search Your Style!! <br></p>
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <div class="input-group">
                                        <div class="form-outline flex-fill">
                                            <input name="keyword" type="search" id="form1" class="form-control form-control-lg" />
                                            <label class="form-label" for="form1">Search for free photos and videos</label>
                                            <div class="form-helper pt-2"><span class="font-weight-bold">Suggested:</span>
                                                <a href="#!" class="text-black-50">Dress,</a>
                                                <a href="#!" class="text-black-50">Pants,</a>
                                                <a href="#!" class="text-black-50">Skirts,</a>
                                                <a href="#!" class="text-black-50">Shorts,</a>
                                                <a href="#!" class="text-black-50">Suits,</a>
                                                <a href="#!" class="text-black-50">Jakets and Blazers,</a>
                                                <a href="#!" class="text-black-50">more</a>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-search">Search</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<div class="container mt-3">

    <h1>This is home</h1>
    <h2>Some Variable: {{ var1 }}</h2>
    <h3>Some Variable: {{ var2 }}</h3>

</div>

{% endblock content %}